<div class="col-md-2"></div>
<div class="col-md-8">
    <div class="col-md-12">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <div class="panel panel-default">
                <div class="panel-heading clearfix">
                    <h3 class="panel-title">My tests</h3>
                </div>
                <table class="table table-hover">
                    <tr>
                        <th>Test</th>
                        <th>Min score</th>
                        <th>Max score</th>
                        <th>My score</th>
                        <th>Details</th>
                    </tr>
                    <tr ng-repeat="stat in testStatistics | filter:{ courseId:currentCourseId }">
                        <td>{{stat.testTitle}}</td>
                        <td>{{stat.minScore | number:2}}</td>
                        <td>{{stat.maxScore | number:2}}</td>
                        <td>{{stat.totalScore | number:2}}</td>
                        <td>
                            <button type="button" class="btn btn-primary" ng-click="showDetails(stat)">Show</button>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>
    <div class="col-md-12" ng-if="shouldShowDetails">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <div class="panel panel-default">
                <div class="panel-heading clearfix">
                    <h3 class="panel-title">Test statistics</h3>
                </div>
                <table class="table table-bordered table-hover">
                    <tr>
                        <th>Statistics</th>
                        <th>Min</th>
                        <th>Max</th>
                        <th>Average</th>
                        <th>Me</th>
                    </tr>
                    <tr>
                        <th>Correct answers</th>
                        <td>{{currentStat.minCorrect | number:2}}</td>
                        <td>{{currentStat.maxCorrect | number:2}}</td>
                        <td>{{currentStat.avgCorrect | number:2}}</td>
                        <td>{{currentStat.correctAnswers | number:2}}</td>
                    </tr>
                    <tr>
                        <th>Incorrect answers</th>
                        <td>{{currentStat.minIncorrect | number:2}}</td>
                        <td>{{currentStat.maxIncorrect | number:2}}</td>
                        <td>{{currentStat.avgIncorrect | number:2}}</td>
                        <td>{{currentStat.incorrectAnswers | number:2}}</td>
                    </tr>
                    <tr>
                        <th>Unanswered</th>
                        <td>{{currentStat.minUnanswered | number:2}}</td>
                        <td>{{currentStat.maxUnanswered | number:2}}</td>
                        <td>{{currentStat.avgUnanswered | number:2}}</td>
                        <td>{{currentStat.unanswered | number:2}}</td>
                    </tr>
                    <tr>
                        <th>Score</th>
                        <td>{{currentStat.minScore | number:2}}</td>
                        <td>{{currentStat.maxScore | number:2}}</td>
                        <td>{{currentStat.avgScore | number:2}}</td>
                        <td>{{currentStat.totalScore | number:2}}</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>
    <div class="col-md-12" ng-if="shouldShowTest">
            <div class="panel panel-default">
                <div class="panel-heading clearfix">
                    <h3 class="panel-title">Test details</h3>
                </div>
                <table class="table table-hover">
                    <tr>
                        <th>Question</th>
                        <th>Answer</th>
                        <th>Correct</th>
                        <th>Score</th>
                        <th>Correctly answered</th>
                    </tr>
                    <tr ng-repeat="question in currentTest">
                        <td>{{question.questionOrdinal}}</td>
                        <td>{{question.selectedLetters}}</td>
                        <td>{{question.correctAnswerLetters}}</td>
                        <td ng-if="question.correctlyAnswered">{{question.correctAnswerScore | number:2}}</td>
                        <td ng-if="!question.correctlyAnswered && !question.selectedAnswers">0</td>
                        <td ng-if="!question.correctlyAnswered && question.selectedAnswers">-{{question.incorrectAnswerScore | number:2}}</td>
                        <td ng-if="question.correctlyAnswered">yes</td>
                        <td ng-if="!question.correctlyAnswered">no</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

</div>
<div class="col-md-2"></div>

